<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Employee Managment System </a>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" id="Home" routerLink="HomeTab" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" id="CustomerMgtTab" routerLink="CustomerMgtTab" >CustomerMgtTab </a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>

</div>
